*{
  margin:0;
  padding:0;
  background-color:rgb(46, 46, 46);
}
.page{
  display:grid;
  grid-template-columns: repeat(6,1fr);
  grid-template-rows: 100px 50px 100px 100px;
  gap: 15px;
  margin: 20px;
}
.box{
  text-align: center;
  align-content: center;

  
}
.red1{
  background-color: rgb(238, 49, 49);
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end:2;
}
.blue1{
  background-color:rgb(3, 216, 216);
  grid-row-start:1;
  grid-row-end:2;
  grid-column-start:2;
  grid-column-end:4;
}
.brown1{
  background-color:rgb(190, 154, 106);
  grid-row-start:1;
  grid-row-end:2;
  grid-column-start:4;
  grid-column-end:6;
}
.brown2{
  background-color:rgb(190, 154, 106);
  grid-row-start:2;
  grid-row-end:4;
  grid-column-start:2;
  grid-column-end:3;
}
.white1{
  background-color: rgb(255, 255, 255);
  grid-row-start:2;
  grid-row-end: 4;
  grid-column-start:3;
  grid-column-end:5;
}
.white2{
  background-color: rgb(255, 255, 255);
  grid-row-start:3;
  grid-row-end:5;
  grid-column-start:1;
  grid-column-end:2
}

.red2{
  background-color: rgb(238, 49, 49);
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start: 2;
  grid-column-end:4;
}
.blue2{
  background-color:rgb(3, 216, 216);
  grid-row-start:4;
  grid-row-end:5;
  grid-column-start:4;
  grid-column-end:5
}
.red3{
  background-color: rgb(238, 49, 49);
  grid-row-start:2;
  grid-row-end:5;
  grid-column-start:5;
  grid-column-end:6
}

